<div
  class="content-container d-flex justify-content-center align-items-center"
  [ngClass]="routeElements"
>
  <div class="registration-form-container" @fadeIn>
    <div style="width: 100%; color: white; font-weight:bolder; font-size:20px" align="center" class="mb-4">
      <span>Create an account to get started</span>
    </div>
    <accounting-custom-form
      (cancel)="onCancel()"
      (save)="onSave($event)"
      [formFields]="formFields"
      [savingData]="loading"
      [showCancel]="false"
      loadingMessage="Creating user account..."
    ></accounting-custom-form>
  </div>
</div>
