<div class="header">
  <accounting-page-header
    [title]="title"
    [icon]="icon"
    [menus]="menus"
  ></accounting-page-header>
</div>
<div class="page-content" [ngClass]="routeElements">
  <ng-content select="page-content"></ng-content>
  <button
    style="position: absolute; bottom: 30px; right: 20px"
    mat-fab
    color="primary"
    *ngIf="showAdd"
    (click)="onAdd()"
  >
    <!-- <i class="fa fa-plus" aria-hidden="true" style="font-size: 18px"></i> -->
    <mat-icon>add</mat-icon>
  </button>
</div>
