<div class="w-full">
    <mat-form-field>
        <mat-label>Invoice date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="invoiceDate" [max]="maxDate">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>
<div class="w-full mt-2">
    <mat-form-field>
        <mat-label>Customer</mat-label>
        <mat-select matInput>
            <mat-option></mat-option>
        </mat-select>
    </mat-form-field>
</div>