<form action="" [formGroup]="formObject">
  <div class="row">
    <ng-container *ngFor="let field of formFields">
      <div [class]="field.fieldSize">
        <div *ngIf="field.label">
          <span class="text-muted">{{field.label}}</span>
        </div>
        <div
          class="input-field mat-elevation-z3 d-flex"
          [ngClass]="{ 'input-error-field': hasError(field) }"
          @fadeIn
        >
          <mat-icon
            *ngIf="field.icon"
            style="color: gray; font-size: 14px; margin-top: 3px; height: 10px"
            >{{ field.icon }}</mat-icon
          >
          <input
            [type]="field.type"
            [formControlName]="field.key"
            [placeholder]="field.placeholder"
            autocomplete="off"
          />
        </div>
        <ng-container *ngFor="let error of field?.errors">
          <div
            style="text-align: left; color: red; padding-left: 5px"
            *ngIf="hasSpecificError(field, error.key)"
            @fadeIn
          >
            <small>{{ error.message }}</small>
          </div>
        </ng-container>
      </div>
    </ng-container>
    <ng-container *ngIf="!savingData">
      <div class="col-lg-6 col-sm-12 mt-4">
        <button
          mat-raised-button
          style="
            width: 100%;
            background-color: red;
            color: white;
            font-weight: bold;
          "
          type="button"
          (click)="onCancel()"
        >
          Cancel
        </button>
      </div>
      <div class="col-lg-6 col-sm-12 mt-4">
        <button
          mat-raised-button
          color="primary"
          style="width: 100%; font-weight: bold"
          type="button"
          (click)="onSave()"
          [disabled]="formObject.invalid"
        >
          Submit
        </button>
      </div>
    </ng-container>
    <ng-container *ngIf="savingData">
      <div class="col-sm-12" @fadeIn>
        <accounting-loading [message]="loadingMessage"></accounting-loading>
      </div>
    </ng-container>
  </div>
</form>
