@import '../../../styles-variables.scss';

.welcome-message {
    color: rgb(224, 224, 224);
    // line-height: 50px;
    width: 60vw;

    .headliner {
        font-weight: bolder;
        font-size: 100px;
    }

    .subtitle {
        font-weight: bold;
        font-size: 18px;
    }

    .headline-message {
        // font-weight: bold;
        font-size: 18px;
        line-height: 30px;
        width: 40vw;
    
    }

    .headline-content {
        border-radius: 10px;
        width: 50%;
        padding: 10px;
        height: 20%;
        background-color: white;
        color: black;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 10px;
        opacity: 0.8;
    }
}

.get-started-button {
    width: 20vw;

    button {
        border: none;
        background-color: transparent;
        // background-color: $accounting-primary-color;
        color: white;
        width: 100%;
        padding: 2vh 2vw;
        border-radius: 50px;
        font-size: 28px;
        font-weight: bold;
        border: 1px solid white;
        // opacity: 0.8;
    }
}