.full-width-table {
  width: 100%;
  /* margin: 10px; */
}

.mat-table {
  font-family: 'accounting-font' !important;
}

.table-icons {
  display: inline-flex;
  align-items: center;
  mat-icon {
    cursor: pointer;
  }
}
