<accounting-dialog-layout [title]="'Add new journal entry'" [hideClose]="false" (close)="onClose()">
    <ng-container ngProjectAs="page-content">
        <div class="d-flex" style="max-height: inherit; overflow: auto;">
            <div style="max-height:inherit; width: 29%; overflow: auto;" class="transaction-list">
                <ul>
                    <ng-container *ngFor="let transaction of (transactions$ | async); let i=index">
                        <li *ngIf="!isSelected(transaction.id)" class="list-item"
                            (click)="onSelectTransaction(transaction)">
                            {{transaction.date}}&nbsp;&nbsp;&nbsp;&nbsp;{{transaction.description }}
                        </li>
                    </ng-container>
                </ul>
            </div>
            <div class="separator"></div>
            <div style="max-height: 500px; width:69%" class="selected-transactions">
                <ng-container *ngFor="let transaction of selectedTransactions">
                    <div class="entry-content">
                        <div class="header" (click)="onSelectTransaction(transaction)">{{transaction.description}}</div>
                        <div class="account-details">
                            <table class="table table-bordered" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">Account</th>
                                        <th style="text-align:center">Debit</th>
                                        <th style="text-align:center">Credit</th>
                                        <th style="text-align:center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let journalAccount of journalAccounts">
                                        <tr *ngIf="journalAccount.transactionId === transaction.id">
                                            <td>
                                                {{journalAccount.accountName}}</td>
                                            <td style="text-align:right">{{journalAccount.debit | number:'0.2-2'}}</td>
                                            <td style="text-align:right">{{journalAccount.credit | number:'0.2-2'}}</td>
                                            <td style="text-align:center"><mat-icon style="cursor:pointer; color:red"
                                                    (click)="removeJournalAccount(journalAccount.id)">delete_forever</mat-icon>
                                            </td>
                                        </tr>
                                    </ng-container>
                                    <tr>
                                        <td>
                                            <mat-form-field>
                                                <mat-select matInput placeholder="Select account"
                                                    [(ngModel)]="currentJournalAccount[transaction.id].accountId">
                                                    <mat-option *ngFor="let account of accounts$ | async"
                                                        [value]="account.id">
                                                        {{account.name}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <mat-form-field>
                                                <input type="number" placeholder="Enter debit amount"
                                                    [disabled]="currentJournalAccount[transaction.id].credit > 0"
                                                    matInput [(ngModel)]="currentJournalAccount[transaction.id].debit"
                                                    autocomplete="off">
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <mat-form-field>
                                                <input type="number" placeholder="Enter credit amount"
                                                    [disabled]="currentJournalAccount[transaction.id].debit > 0"
                                                    matInput [(ngModel)]="currentJournalAccount[transaction.id].credit"
                                                    autocomplete="off">
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <button mat-raised-button style="width: 100%; font-weight: bold;"
                                                (click)="addJournalAccount(transaction.id)"
                                                [disabled]="!currentJournalAccount[transaction.id]?.accountId || !(currentJournalAccount[transaction.id]?.debit || currentJournalAccount[transaction.id].credit)">
                                                <mat-icon>add</mat-icon>
                                                Add
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div *ngIf="selectedTransactions.length" style="padding: 0 5px;"
            class="d-flex align-items-center justify-content-end mt-4">
            <accounting-save></accounting-save>
        </div>
    </ng-container>
</accounting-dialog-layout>