<div class="h-full">
    <nav class="h-1/5">
      <div class="flex items-center justify-end p-4">
        <a routerLink="login">Signin</a>
      </div>
    </nav>
    <div class="container mx-auto py-10 flex items-center justify-center h-4/5">
      <div>
        <div align="center">
          <h1 class="text-primary text-5xl font-bold">Easy Accounting</h1>
        </div>
        <div class="md:flex md:items-center md:justify-start md:gap-5 mt-6">
          <div class="bg-gray-100 p-5 rounded-md mb-4">
            <h1 class="font-bold">Financial Efficiency Unleashed</h1>
            <p>
              Welcome to Easy Accounting, your gateway to streamlined accounting processes. Our platform is intricately
              designed to simplify the complexities of financial management, offering a seamless experience for businesses
              of all sizes
            </p>
          </div>
          <div class="bg-gray-100 p-5 rounded-md mb-4">
            <h1 class="font-bold">Precision Tools for Financial Mastery</h1>
            <p>Immerse yourself in the world of effortless financial management with our intuitive platform. Gain
              real-time
              insights to inform your decision-making, and enhance team efficiency through collaborative tools. At Easy
              Accounting, we believe in the power of precision and simplicity working hand in hand.</p>
          </div>
          <div class="bg-gray-100 p-5 rounded-md mb-4">
            <h1 class="font-bold">Strategic Financial Empowerment</h1>
            <p>
              Embark on a strategic journey to financial success with Easy Accounting. Manage your accounts with ease,
              tailored to the unique needs of businesses, regardless of size. Our commitment lies in delivering a platform
              that blends financial precision with operational simplicity, making financial management impactful and
              straightforward
            </p>
          </div>
          <!-- <div>
          <h1>Proactive Engagement for Financial Excellence</h1>
          <p>
            At Easy Accounting, financial success is our priority. Enjoy an onboarding experience with interactive
            tutorials, stay informed with regular updates and enhancements driven by user feedback, and rely on our
            dedicated financial experts for assistance throughout your journey
          </p>
        </div> -->
        </div>
        <div class="mt-8" align="center">
          <a  class="px-10 py-4 rounded-md text-white bg-primary font-bold transition delay-150 duration-300 ease-in-out" [routerLink]="'registration'">Get Started</a>
        </div>
      </div>
    </div>
  </div>