<app-page-layout title="Financial Periods" description="Manage your financial periods. Add, update or remove periods"
  [viewDetails]="viewDetails" [formTitle]="formTitle" (closeForm)="closeForm()">
  <ng-container ngProjectAs="main">
    <app-data-table [tableConfiguration]="tableConfiguration" [tableData]="financialPeriods$ | async"
      addButtonText="New financial period" (add)="addNewFinancialPeriod()"
    (update)="updateFinancialPeriod($event)"></app-data-table>
  </ng-container>
  <ng-container ngProjectAs="form">
    @if (viewType=='add') {
      <app-add-edit-financial-period (close)="closeForm()"></app-add-edit-financial-period>
    }
    @if (viewType=='update') {
      <app-add-edit-financial-period [financialPeriod]="currentFinancialPeriod"
      (close)="closeForm()"></app-add-edit-financial-period>
    }
  </ng-container>
</app-page-layout>