<app-page-layout title="Payment Types" description="Manage your payment types. Add, update or remove payment types"
  [viewDetails]="viewDetails" [formTitle]="formTitle" (closeForm)="closeForm()">
  <ng-container ngProjectAs="main">
    <app-data-table [tableConfiguration]="tableConfiguration" [tableData]="paymentTypes$ | async"
    addButtonText="New payment type" (add)="addNewPaymentType()" (update)="updatePaymentType($event)"></app-data-table>
  </ng-container>
  <ng-container ngProjectAs="form">
    @if (viewType == 'add') {
      <app-add-edit-payment-type [paymentType]="currentPaymentType" (close)="closeForm()"></app-add-edit-payment-type>
    }
    @if (viewType == 'update') {
      <app-add-edit-payment-type [paymentType]="currentPaymentType" (close)="closeForm()"></app-add-edit-payment-type>
    }
  </ng-container>
</app-page-layout>