<accounting-dialog-layout [title]="'Add new ' + data.title + ' account'">
  <ng-container ngProjectAs="page-content">
    <form [formGroup]="accountForm">
      <div class="row m-2">
        <div class="col-sm-6" @fadeIn>
          <mat-form-field>
            <mat-label>Account Name</mat-label>
            <input
              type="text"
              formControlName="name"
              matInput
              autocomplete="off"
            />
          </mat-form-field>
        </div>
        <div class="col-sm-6" @fadeIn>
          <mat-form-field>
            <mat-label>Account Description</mat-label>
            <input
              type="text"
              formControlName="description"
              matInput
              autocomplete="off"
            />
          </mat-form-field>
        </div>
        <div class="col-sm-6" @fadeIn>
          <mat-form-field>
            <mat-label>Account Balance</mat-label>
            <input
              type="text"
              formControlName="balance"
              matInput
              autocomplete="off"
            />
          </mat-form-field>
        </div>
        <div class="col-sm-6" @fadeIn>
          <mat-form-field>
            <mat-label>Account Status</mat-label>
            <mat-select formControlName="status">
              <mat-option [value]="'active'">Active</mat-option>
              <mat-option [value]="'inActive'">In Active</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-12" *ngIf="!loading" @fadeIn>
          <accounting-save
            (cancel)="onClose()"
            (save)="onSave()"
          ></accounting-save>
        </div>
        <div class="col-sm-12" *ngIf="loading" @fadeIn>
          <accounting-loading message="Saving data..."></accounting-loading>
        </div>
      </div>
    </form>
  </ng-container>
</accounting-dialog-layout>
