@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'custom-font';
    src: url('./assets/fonts/mark-pro.ttf') format('truetype');
}

html {
    font-family: "custom-font";
}

@layer base {
    html {
        font-family: "custom-font";
    }
}


.mat-mdc-form-field {
    margin-bottom: 0px;
    width: 100%;
    font-family: "custom-font" !important;
}

.mat-mdc-form-field-error {
    font-weight: bold;
    font-family: 'custom-font';
}

.mdc-notched-outline__notch {
    border-right: none;
}

.mat-mdc-floating-label, .mdc-floating-label {
    font-family: 'custom-font';
}