<div class="page-container">
    <!-- <div style="width: 40%" class="row"> -->
        <accounting-registration></accounting-registration>
        <!-- <div align="center" @fadeIn>
            <p style="color:white; font-size:18px; font-weight:bold">Provide your details to get started</p>
        </div>
        <div class="col-sm-12">
            <div class="input-field mat-elevation-z3 d-flex align-items-center" @fadeIn>
                <mat-icon style="color: gray">person</mat-icon>
                <input type="text" autocomplete="off" placeholder="Full name" [(ngModel)]="clientName" />
            </div>
            <div class="input-field mat-elevation-z3 d-flex align-items-center" *ngIf="clientName" @fadeIn>
                <mat-icon style="color: gray">phone</mat-icon>
                <input type="text" autocomplete="off" placeholder="Phone number" [(ngModel)]="clientPhone" />
            </div>
            <div class="input-field mat-elevation-z3 d-flex align-items-center" *ngIf="clientPhone" @fadeIn>
                <mat-icon style="color: gray">email</mat-icon>
                <input type="text" autocomplete="off" placeholder="Email" [(ngModel)]="clientEmail" />
            </div>
            <div class="submit-button" *ngIf="clientEmail" @fadeIn>
                    <button>Submit</button>
            </div>
        </div> -->
    <!-- </div> -->
</div>